*{
    font-family:Arial;
}
label{
    font-size:24px;
}
input{
    font-size:18px;
    font-weight:600;
    height:40px;
    width:260px;
    border-radius:5px;
    outline:none!important;
    background:#d4d4ff;
    border:none;
    padding:0 15px;
    display:block;
    margin-bottom:15px;
}

.wrapper-person img{
    width:100%;
    max-width:300px;
}
.wrapper-name{
    font-size:20px;
    color:blue;
    margin-top:10px;
}
.wrapper-age{
    font-size:20px;
    margin-top:10px;
    color:grey;
}